.card-img-top {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.card {
  box-shadow: 0 0 6px rgb(0 0 0 / 25%);
  border-radius: 10px;
}
.update_btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
  background-color: #b66dff;
  color: white !important;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  font-size: 17px;
}
/* 
.form-group1 {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}
.form-group1 input {
  border: none;
}

.form-group1 .label {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  width: 100%;
} */
