.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Link {
  text-decoration: none;
}

.sidebar .nav .nav-item .nav-link.active {
  background: #ffffff;
  color: #b56ef9 !important;
}
.sidebar .nav .nav-item .nav-link.active i {
  color: #b56ef9 !important;
}
